<form method="post" action="{{ path('machines_delete', {'id': machine.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ machine.id) }}">
    <button class="btn btn-lg btn-danger">Supprimer {{ machine.name }}</button>
</form>
