<!DOCTYPE html>

<title>Edit Objects</title>

{% block body %}
    <h1>Edit Objects</h1>

    {{ include('objects/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('objects_index') }}">back to list</a>

    {{ include('objects/_delete_form.html.twig') }}
{% endblock %}
