{% extends 'base.html.twig' %}

{% block title %}Nouvel objet{% endblock %}

{% block body %}
    <main class="main-content mh-fullscreen bg-img center-vh" data-parallax="{{ asset('assets/img/formObject.jpg') }}" data-overlay="3">
        <div class="card card-shadowed p-50 w-700 mb-0 opacity-85" style="max-width: 100%">
            <h5 class="text-uppercase text-center mb-50">Ajouter un objet</h5>
            {{ include('objects/_form.html.twig') }}
        </div>
    </main>
{% endblock %}