<!DOCTYPE html>

<title>New Objects</title>

{% block body %}
    <h1>Create new Objects</h1>

    {{ include('objects/_form.html.twig') }}

    <a href="{{ path('objects_index') }}">back to list</a>
{% endblock %}
